body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../image-from-rawpixel-id-50145-jpeg.jpg")
    center/cover no-repeat;
    background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  flex-direction: column;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.search-heading {
  font-size: 2em !important;
  color: #fff;
  font-family: fantasy;
}

.search-field {
  position: relative;
  margin-bottom: 20px;
}

.search-input {
  width: 0;
  padding: 0 20px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #62d474;
  font-size: 16px;
  color: #29313a;
  transition: width 0.5s ease-out;
  outline: none;
}

.search-input.active {
  width: 300px;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #62d474;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.search-options {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.search-option {
  color: white;
  margin: 5px 15px;
  display: flex;
  align-items: center;
}

.submit-button {
  width: 200px;
  background-color: #04aa6d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}


.custom-select {
  position: relative;
  width: 400px;
  max-width: 100%;
  font-size: 1.15rem;
  color: #000;
  padding: 0px !important;
}

.select-button {
  width: 100%;
  font-size: 1.15rem;
  background-color: #fff;
  padding: 0.675em 1em;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-value {
  text-align: left;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
  transition: transform ease-in-out 0.3s;
}

.select-dropdown {
  position: absolute;
  list-style: none;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  transition: 0.5s ease;

  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
}

.select-dropdown:focus-within {
  box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
}

.select-dropdown li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-dropdown li label {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-dropdown::-webkit-scrollbar {
  width: 7px;
}
.select-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.select-dropdown li:hover,
.select-dropdown input:checked ~ label {
  background-color: #f2f2f2;
}

.select-dropdown input:focus ~ label {
  background-color: #dfdfdf;
}

.select-dropdown input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}

/* interactivity */

.custom-select.active .arrow {
  transform: rotate(180deg);
}

.custom-select.active .select-dropdown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}




h2{
  color: #fff;
}

.all-results-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.results-container{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
  width: 85%;
  color: #fff;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  /* opacity: 0.5; */
}

.result-container{
  padding: 10px;
  background-color: #2b2b2a !important;
  color: #e0e4db;
  border-radius: 5px;
}

.result-container:hover{
  border: 1px solid #fff;
}

.progress{
  height: 10px !important;
}

.progress-bar{
  height: 10px;
}

.collapse{
  /* max-height: 0; */
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: flex;
  margin-top: 10px;
}

.collapse .card{
  color: #29313a;
  margin-bottom: 10px;
  font-size: smaller;
}

.card-first-line{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.comment-card{
  display: flex;
  flex-direction: row !important;
  padding: 5px;
  align-items: center;
  background-color: #212120 !important ;
  color: #c4c8bf !important;
  border: 1px solid #aaa;
}

.card-body{
  padding: 0 !important;
}

.score{
  background-color: #04aa6d;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  align-self: flex-start;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  margin-right: 15px;
}

.card-link{
  font-size: small;
}

h6{
  font-size: 14px;
}

.selected-options-contioner{
  color: #fff;
  width: 83%;
}


.card{
  margin-bottom: 20px;
}

.card-title{
  font-weight: 900;
}

h1 {
  font-size: 4.5rem !important;
  font-weight: 900 !important;
}

.code-snippet-container{
  background-color: #212120 !important ;
  color: #fff !important;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  width: 83%;
}
